/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #34838F, #A3D7DC);
    color: white;
    display: flex;
    flex-direction: column;
}

/* HERO SECTION */
.hero-section {
    margin-bottom: 8px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* title left, logo right */
    padding: 18px 28px;
}

/* TITLE — LEFT */
.hero h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

/* LOGO — RIGHT */
.hero-logo {
    height: 150px;
    /* visible but not overpowering */
    width: 150px;
}

/* DESCRIPTION */
.hero-description {
    padding: 6px 28px;
    margin-top: -25px;
    line-height: 1.4;
    font-size: 1.1rem;
}

/* SENSOR SELECT */
.sensor-select-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
    font-size: 18px;
}

.sensor-select-wrapper label {
    font-weight: 500;
}

#sensorSelect {
    padding: 4px 10px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    font-size: 0.85rem;
    outline: none;
}

/* MAP */
#map {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.leaflet-container {
    border-radius: 12px;
}