*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #34838F, #A3D7DC);
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 12px;
    padding: 18px 28px;
}



.hero h1{
    font-size: 2.5rem;
    margin: 0;
    line-height: 1.2;
    padding-left: 60px;
}


.hero-logo{
    height: 160px;      
    width: auto;
    object-fit: contain;
    background: rgba(255, 255, 255, 0.18);  /* ανοιχτό γαλακτερό */
    border-radius: 999px;
    backdrop-filter: blur(4px);   
}


#map{
    width: 100%;
    flex: 1;
    border-radius: 0;
    box-shadow:none;
    overflow: hidden;
}

.leaflet-container{
    border-radius: 12px;
}

.sensor-select-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.sensor-select-wrapper label{
    font-weight: 500;
    letter-spacing: 0.5px;
}

#sensorSelect{
    padding: 4px 10px;
    border-radius: 999px;
    border: 1px solid rgba(255,255,255,0.7);
    background: rgba(255,255,255,0.9);
    color: #333;
    font-size: 0.85rem;
    outline: none;
}
p{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
